.newproject_container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 500px;
    margin: 0 auto;
    padding: 3em;
    height:82vh;
}

.newproject_container h1 {
    margin-bottom: 0.5em;
}

.newproject_container p {
    color: #7b7b7b;
}
