.form_control {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.form_control label {
    margin-bottom: 0.6em;
    font-weight: bold;
}

.form_control input {
    padding: 0.7em;
    border-radius: 0;
    border: none;
    border-radius: 5px;
}

.form_control span {
    font-size: 14px;
    margin-top: 0.25rem;
    margin-left: 0.68rem;
    color: #FF0000;
}
